@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $white;
  background: $gray;
  font-family: 'Roboto', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-column-gap: 12px;
  width: 100vw;
  height: 100vh;
}

.e {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea{
  width: 350px;
  height: 150px;
  font-size:14px;
  font-style: italic;
  outline: none;
  margin: 6px;
  &::placeholder{
    color: red;
  }
}

.btn{
  background-color:#44c767;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #18ab29;
	cursor:pointer;
  color:#ffffff;
	font-size:17px;
	padding:10px 15px;
	text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  &--save{
    transition: border .3s linear;
    &:hover{
      border-color: red;
    }
  }
  &--clear{
    transition: transform 1s ease-in-out;
    &:hover{
      transform: rotate(360deg) scale(0.85);
    }
  }
}

.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}